<p tuiTextfieldSize="m" class="filters">
    <tui-input class="input" [tuiTextfieldCleaner]="true" [formControl]="filterControl">
        Find in table
    </tui-input>
</p>

<div class="token-list" *tuiLet="(tokens$ | async) ?? [] as tokens">
    <div class="token-list-headers">
        <div>Token</div>
        <div>Price</div>
        <div>Balance</div>
        <div>Allowance</div>
    </div>
    <cdk-virtual-scroll-viewport class="token-list-body" tuiScrollable [itemSize]="30">
        <div class="token-row" *cdkVirtualFor="let token of tokens; trackBy:trackByFn">
            <div>
                <div class="token-col">
                    <img class="logo tui-space_right-2" [src]="token.logoURI"/> {{ token.name }}
                </div>
            </div>
            <div>
                {{ token.price }}
            </div>
            <div >
                {{ token.balance }}
            </div>
            <div >
                {{ token.allowance }}
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
