@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    width: 100%;
}

.token-list {
    display: flex;
    flex-direction: column;

    &-headers {
        display: flex;

        div {
            width: 25%;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        height: 500px;

        .token-row {
            display: flex;

            div {
                width: 25%;
            }
        }
    }
}

.token-col {
    display: flex;
    align-items: center;

    .logo {
        width: 30px;
        height: 30px;
    }
}


.scroll {
    height: 500px;
    width: 100%;
}
